<!DOCTYPE html>
<html>
  <head>
    <title>Form Data Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/admin.css" />
  </head>
  <body>
    <h1>Form Data Admin</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {% for data in formdata %}
          <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.message }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <br>

    <h1>Userdata Admin</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        {% for data in userdata %}
          <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.password }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>




  </body>
</html>
